In [10]:
import pandas as pd


df = pd.read_csv('data/output_file.csv')
df.shape

(1212, 10)

In [11]:
import re

df['Salaire'] = df['Salaire'].astype(str)

df.head(2)

def extract_average_salary(text):
  text = text.replace(' ','')
  matches = re.findall(r'(\d[\d ,.]*)\s*-\s*(\d[\d ,.]*)\s*(?:EUR)?\s*(?:par)?\s*(an|mois)?', str(text), flags=re.IGNORECASE)
  if matches:
    start_salary, end_salary, unit = matches[0]
    start_salary, end_salary = map(float, [start_salary.replace(',','.'), end_salary.replace(',','.')])

    if unit and unit.lower() == 'mois':
        return (start_salary + end_salary) / 2 * 12  # Convert monthly to yearly
    else:
        return (start_salary + end_salary) / 2
  else:
    return None

df['Salaire'] = df['Salaire'].apply(extract_average_salary)
df['Salaire'] = df['Salaire'].round(2)
df.head(20)

,Job Title,Company Name,Location,Contract Type,Niveau Etude,Secteur,Teletravail,Experience,Salaire,skills
0,Software Engineer H/F,Voyage Privé,Aix-en-Provence - 13,CDI,NaN,NaN,False,NaN,NaN,"['python', 'rest', 'c', 'esp', 'java', 'scala']"
1,Software Engineer H/F,Nickel,Charenton-le-Pont - 94,CDI,Bac +5,NaN,True,Exp. 1 à 7 ans,NaN,['c']
2,Software Engineer H/F,AXA en France,Suresnes - 92,CDI,Bac +5,NaN,True,Exp. + 7 ans,42500.0,"['kubernetes', 'python', 'c', 'esp', 'docker',..."
3,Software Engineer H/F,AXA en France,Wasquehal - 59,CDI,NaN,NaN,False,NaN,NaN,"['c', 'code review']"
4,Software Engineer H/F,Direct assurance,Suresnes - 92,CDI,Bac +5,NaN,False,Exp. + 7 ans,NaN,"['kubernetes', 'python', 'c', 'esp', 'docker',..."
5,Software Engineer H/F,ENGIE,Us - 95,CDI,Bac +5,Secteur Energie • Environnement,False,NaN,42500.0,"['unity', 'rest', 'github', 'c', 'esp', 'integ..."
6,Software Engineer H/F,ENGIE,Us - 95,CDI,Bac +5,Secteur Energie • Environnement,False,NaN,NaN,"['python', 'unity', 'rest', 'github', 'c', 'es..."
7,Ingénieur Logiciel - Software Engineer H/F,Idemia,Courbevoie - 92,CDI,"Bac +3, Bac +4",Secteur informatique • ESN,True,Exp. 1 à 7 ans,60000.0,"['python', 'android', 'rest', 'c', 'ios', 'win..."
8,Android Software Engineer H/F,Otteo,Lille - 59,CDI,Bac +5,Secteur informatique • ESN,True,Exp. + 7 ans,45000.0,"['android', 'c', 'esp']"
9,Java Software Engineer H/F,Mondial Relay,Villeneuve-d'Ascq - 59,CDI,NaN,NaN,False,NaN,40000.0,"['c', 'esp', 'core']"
10,Software Engineer Mainframe H/F,AXA en France,Nanterre - 92,CDI,Bac +5,NaN,True,NaN,NaN,['c']
11,Software Engineer .Net H/F,VAHUMANA,Lyon - 69,CDI,NaN,NaN,False,NaN,50000.0,"['.net', 'c']"
12,Lead Software Engineer H/F,Capgemini,Paris - 75,CDI,Bac +5,Secteur informatique • ESN,True,Exp. 1 à 7 ans,NaN,"['c', 'scala']"
13,Software Engineer .Net H/F,Team.is,Toulouse - 31,CDI,"Bac +3, Bac +4",Secteur informatique • ESN,True,Exp. 1 à 7 ans,42500.0,"['android', '.net', 'c', 'ios', 'css', 'window..."
14,Senior Software Engineer H/F,Work & You,Bordeaux - 33,CDI,Bac +5,Services aux Entreprises,False,NaN,45000.0,"['symfony', 'c', 'php', 'esp', 'docker']"
15,Java Software Engineer H/F,Apside,Sophia-Antipolis - 06,CDI,Bac +5,Secteur informatique • ESN,False,Exp. 1 à 7 ans,50000.0,"['rest', 'c', 'css', 'angular', 'java']"
16,Software Engineer H/F,Relyens,Lyon - 69,CDI,NaN,NaN,False,NaN,NaN,"['kubernetes', 'rest', 'c', 'java', 'docker', ..."
17,Software Engineer Mbd H/F,Astek,Paris 1er - 75,CDI,Bac +5,Secteur informatique • ESN,True,NaN,42500.0,['c']
18,Software Engineer Mbd H/F,Astek,Paris 1er - 75,CDI,Bac +5,Secteur informatique • ESN,True,NaN,NaN,"['c', 'core']"
19,Java Software Engineer H/F,VAHUMANA,Lyon - 69,CDI,NaN,NaN,False,NaN,50000.0,"['c', 'angular', 'java']"

In [12]:
df['Experience'] = df['Experience'].astype(str)  # Convert to string to handle NaN values

# Define a function to extract the numerical value from the experience column
def extract_experience(text):
    match = re.search(r'\+?\s*(\d+)', str(text))
    if match:
        return match.group(1)
    else:
        return None

# Apply the function to the 'Expérience' column
df['Experience'] = df['Experience'].apply(extract_experience)

df.head(5)

,Job Title,Company Name,Location,Contract Type,Niveau Etude,Secteur,Teletravail,Experience,Salaire,skills
0,Software Engineer H/F,Voyage Privé,Aix-en-Provence - 13,CDI,NaN,NaN,False,None,NaN,"['python', 'rest', 'c', 'esp', 'java', 'scala']"
1,Software Engineer H/F,Nickel,Charenton-le-Pont - 94,CDI,Bac +5,NaN,True,1,NaN,['c']
2,Software Engineer H/F,AXA en France,Suresnes - 92,CDI,Bac +5,NaN,True,7,42500.0,"['kubernetes', 'python', 'c', 'esp', 'docker',..."
3,Software Engineer H/F,AXA en France,Wasquehal - 59,CDI,NaN,NaN,False,None,NaN,"['c', 'code review']"
4,Software Engineer H/F,Direct assurance,Suresnes - 92,CDI,Bac +5,NaN,False,7,NaN,"['kubernetes', 'python', 'c', 'esp', 'docker',..."

In [13]:
df['skills']

0         ['python', 'rest', 'c', 'esp', 'java', 'scala']
1                                                   ['c']
2       ['kubernetes', 'python', 'c', 'esp', 'docker',...
3                                    ['c', 'code review']
4       ['kubernetes', 'python', 'c', 'esp', 'docker',...
                              ...
1207    ['analytics', 'unity', 'rest', 'c', 'esp', 'co...
1208    ['unity', 'rails', 'c', 'esp', 'diversity', 'c...
1209    ['.net', 'c', 'php', 'mysql', 'windows', 'dos'...
1210                                  ['c', 'ios', 'esp']
1211                 ['c', 'ios', 'esp', 'react', 'core']
Name: skills, Length: 1212, dtype: object

In [14]:
import ast

df['skills'] = df['skills'].apply(lambda x: ast.literal_eval(x) if pd.notna(x) else [])

In [15]:
df['skills'] = df['skills'].apply(lambda skills_list: [skill for skill in skills_list if skill.lower() not in ('c', 'esp','qt')] if isinstance(skills_list, list) else [])

In [16]:
df['skills']

0                             [python, rest, java, scala]
1                                                      []
2             [kubernetes, python, docker, spark, devops]
3                                           [code review]
4             [kubernetes, python, docker, spark, devops]
                              ...
1207           [analytics, unity, rest, computer science]
1208         [unity, rails, diversity, c/c++, ada, linux]
1209    [.net, php, mysql, windows, dos, angular, java...
1210                                                [ios]
1211                                   [ios, react, core]
Name: skills, Length: 1212, dtype: object

In [ ]:
df.to_csv('data/finalData.csv', index=False)